nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

nav span {
  font-family: 'Bungee', cursive;
  margin: 1.5em;
}

nav div {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav div .fas {
  color: red;
  font-size: 20px;
}

nav p {
  font-size: 20px;
  margin: 1.5em;
  margin: 5px;
}


nav p a {
  font-weight: bold;
}